In [3]:
import numpy as np
import pandas as pd
from sklearn.base import BaseEstimator
from keras.layers import Input, Embedding, Dense, Flatten, Add, Dot
from keras.models import Model
from keras.regularizers import Regularizer
from keras import initializers
import itertools
import gc
from sklearn.preprocessing import LabelEncoder

In [4]:
lb=LabelEncoder()

In [5]:
def LabelEncoding_Cat(df):
    df=df.copy()
    mappingTable = {}
    Cat_Var=[i for i in df.columns.tolist() if i != 'Rating']
    for col in Cat_Var:
        mappingTable[col]={}
        rowDist = df[col].unique()
        df[col]=lb.fit_transform(df[col].astype('str'))
        idx = df[col].unique()
        for i, j in zip(idx, rowDist):
            mappingTable[col][j] = i 
        print('Transfrom ', col)
    return df ,mappingTable

In [6]:
train_df = pd.read_csv('train.csv')

In [7]:
del train_df['TrainDataID']
gc.collect()
train_df.head()

   UserID  MovieID  Rating
0     796     1193       5
1     796      661       3
2     796      914       3
3     796     3408       4
4     796     2355       5

In [8]:
movie = pd.read_csv('movies.csv',delimiter="::")

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [9]:
movie['Genres'] = movie.Genres.apply(lambda x : x.split("|"))

In [10]:
data = []
for row in movie.values:
    for Genres in row[2]:
        data.append([row[0],row[1],Genres])

In [11]:
movie = pd.DataFrame(data,columns=movie.columns)

In [12]:
del data
del movie['Title']
gc.collect()

7

In [13]:
user = pd.read_csv('users.csv',delimiter="::")

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [14]:
user.head()

   UserID Gender  Age  Occupation Zip-code
0     796      F    1          10    48067
1    3203      M   56          16    70072
2    4387      M   25          15    55117
3    4771      M   45           7    02460
4    1191      M   25          20    55455

In [15]:
user['Age'] = user['Age'].apply(lambda x : int(x*0.1)*10)

In [16]:
train_df = (train_df.merge(user,on='UserID',how='left')
            .merge(movie,left_on='MovieID', right_on='movieID',how='left')
        )

In [17]:
train_df.head()

,UserID,MovieID,Rating,Gender,Age,Occupation,Zip-code,movieID,Genres
0,796,1193,5,F,0,10,48067,1193,Drama
1,796,661,3,F,0,10,48067,661,Animation
2,796,661,3,F,0,10,48067,661,Children's
3,796,661,3,F,0,10,48067,661,Musical
4,796,914,3,F,0,10,48067,914,Musical

In [18]:
train_y = train_df['Rating'].values

In [19]:
train_df.head()

,UserID,MovieID,Rating,Gender,Age,Occupation,Zip-code,movieID,Genres
0,796,1193,5,F,0,10,48067,1193,Drama
1,796,661,3,F,0,10,48067,661,Animation
2,796,661,3,F,0,10,48067,661,Children's
3,796,661,3,F,0,10,48067,661,Musical
4,796,914,3,F,0,10,48067,914,Musical

In [20]:
del train_df['movieID']
gc.collect()

81

In [21]:
train_df, mapping = LabelEncoding_Cat(train_df)

('Transfrom ', 'UserID')
('Transfrom ', 'MovieID')
('Transfrom ', 'Gender')
('Transfrom ', 'Age')
('Transfrom ', 'Occupation')
('Transfrom ', 'Zip-code')
('Transfrom ', 'Genres')

In [22]:
train_df.head()

   UserID  MovieID  Rating  Gender  Age  Occupation  Zip-code  Genres
0    5814      189       5       0    0           2      1588       7
1    5814     3359       3       0    0           2      1588       2
2    5814     3359       3       0    0           2      1588       3
3    5814     3359       3       0    0           2      1588      11
4    5814     3597       3       0    0           2      1588      11

In [23]:
inputs = []
flatten_layers=[]
max_features = [train_df[col].nunique() for col in train_df.columns.tolist() if col!='Rating']
columns = range(len(max_features))
l2_fm = 0.001
l2 = 0.001

for col in columns:
    inputs_col = Input(shape=(1,), dtype='int32',name = 'input_%s'%col)
    num_col = max_features[col]
    embed_col = Embedding(num_col, 10, input_length=1,name = 'embed_%s'%col)(inputs_col)
    flatten_col = Flatten()(embed_col)
    inputs.append(inputs_col)
    flatten_layers.append(flatten_col)
    fm_layers = []
    for emb1,emb2 in itertools.combinations(flatten_layers, 2):
        dot_layer =  Dot(axes=1)([emb1, emb2])
        fm_layers.append(dot_layer)
for col in columns:
        num_col = max_features[col]
        embed_col = Embedding(num_col,1,input_length=1,name = 'linear_%s'%col)(inputs[col])
        flatten_col = Flatten()(embed_col)
        fm_layers.append(flatten_col)
        
r_hat = Add()(fm_layers)
model = Model(inputs, r_hat)
model.compile(optimizer='sgd',loss= 'mse')

In [24]:
model.summary()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
input_0 (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
input_1 (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
input_2 (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
input_3 (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
input_4 (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
input_5 (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
input_6 (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
embed_0 (Embedding)              (None, 1, 10)         60400       input_0[0][0]
____________________________________________________________________________________________________
embed_1 (Embedding)              (None, 1, 10)         36880       input_1[0][0]
____________________________________________________________________________________________________
embed_2 (Embedding)              (None, 1, 10)         20          input_2[0][0]
____________________________________________________________________________________________________
embed_3 (Embedding)              (None, 1, 10)         60          input_3[0][0]
____________________________________________________________________________________________________
embed_4 (Embedding)              (None, 1, 10)         210         input_4[0][0]
____________________________________________________________________________________________________
embed_5 (Embedding)              (None, 1, 10)         34390       input_5[0][0]
____________________________________________________________________________________________________
embed_6 (Embedding)              (None, 1, 10)         180         input_6[0][0]
____________________________________________________________________________________________________
flatten_1 (Flatten)              (None, 10)            0           embed_0[0][0]
____________________________________________________________________________________________________
flatten_2 (Flatten)              (None, 10)            0           embed_1[0][0]
____________________________________________________________________________________________________
flatten_3 (Flatten)              (None, 10)            0           embed_2[0][0]
____________________________________________________________________________________________________
flatten_4 (Flatten)              (None, 10)            0           embed_3[0][0]
____________________________________________________________________________________________________
flatten_5 (Flatten)              (None, 10)            0           embed_4[0][0]
____________________________________________________________________________________________________
flatten_6 (Flatten)              (None, 10)            0           embed_5[0][0]
____________________________________________________________________________________________________
flatten_7 (Flatten)              (None, 10)            0           embed_6[0][0]
____________________________________________________________________________________________________
linear_0 (Embedding)             (None, 1, 1)          6040        input_0[0][0]
____________________________________________________________________________________________________
linear_1 (Embedding)             (None, 1, 1)          3688        input_1[0][0]
____________________________________________________________________________________________________
linear_2 (Embedding)             (None, 1, 1)          2           input_2[0][0]
____________________________________________________________________________________________________
linear_3 (Embedding)             (None, 1, 1)          6           input_3[0][0]
____________________________________________________________________________________________________
linear_4 (Embedding)             (None, 1, 1)          21          input_4[0][0]
____________________________________________________________________________________________________
linear_5 (Embedding)             (None, 1, 1)          3439        input_5[0][0]
____________________________________________________________________________________________________
linear_6 (Embedding)             (None, 1, 1)          18          input_6[0][0]
____________________________________________________________________________________________________
dot_36 (Dot)                     (None, 1)             0           flatten_1[0][0]
                                                                   flatten_2[0][0]
____________________________________________________________________________________________________
dot_37 (Dot)                     (None, 1)             0           flatten_1[0][0]
                                                                   flatten_3[0][0]
____________________________________________________________________________________________________
dot_38 (Dot)                     (None, 1)             0           flatten_1[0][0]
                                                                   flatten_4[0][0]
____________________________________________________________________________________________________
dot_39 (Dot)                     (None, 1)             0           flatten_1[0][0]
                                                                   flatten_5[0][0]
____________________________________________________________________________________________________
dot_40 (Dot)                     (None, 1)             0           flatten_1[0][0]
                                                                   flatten_6[0][0]
____________________________________________________________________________________________________
dot_41 (Dot)                     (None, 1)             0           flatten_1[0][0]
                                                                   flatten_7[0][0]
____________________________________________________________________________________________________
dot_42 (Dot)                     (None, 1)             0           flatten_2[0][0]
                                                                   flatten_3[0][0]
____________________________________________________________________________________________________
dot_43 (Dot)                     (None, 1)             0           flatten_2[0][0]
                                                                   flatten_4[0][0]
____________________________________________________________________________________________________
dot_44 (Dot)                     (None, 1)             0           flatten_2[0][0]
                                                                   flatten_5[0][0]
____________________________________________________________________________________________________
dot_45 (Dot)                     (None, 1)             0           flatten_2[0][0]
                                                                   flatten_6[0][0]
____________________________________________________________________________________________________
dot_46 (Dot)                     (None, 1)             0           flatten_2[0][0]
                                                                   flatten_7[0][0]
____________________________________________________________________________________________________
dot_47 (Dot)                     (None, 1)             0           flatten_3[0][0]
                                                                   flatten_4[0][0]
____________________________________________________________________________________________________
dot_48 (Dot)                     (None, 1)             0           flatten_3[0][0]
                                                                   flatten_5[0][0]
____________________________________________________________________________________________________
dot_49 (Dot)                     (None, 1)             0           flatten_3[0][0]
                                                                   flatten_6[0][0]
____________________________________________________________________________________________________
dot_50 (Dot)                     (None, 1)             0           flatten_3[0][0]
                                                                   flatten_7[0][0]
____________________________________________________________________________________________________
dot_51 (Dot)                     (None, 1)             0           flatten_4[0][0]
                                                                   flatten_5[0][0]
____________________________________________________________________________________________________
dot_52 (Dot)                     (None, 1)             0           flatten_4[0][0]
                                                                   flatten_6[0][0]
____________________________________________________________________________________________________
dot_53 (Dot)                     (None, 1)             0           flatten_4[0][0]
                                                                   flatten_7[0][0]
____________________________________________________________________________________________________
dot_54 (Dot)                     (None, 1)             0           flatten_5[0][0]
                                                                   flatten_6[0][0]
____________________________________________________________________________________________________
dot_55 (Dot)                     (None, 1)             0           flatten_5[0][0]
                                                                   flatten_7[0][0]
____________________________________________________________________________________________________
dot_56 (Dot)                     (None, 1)             0           flatten_6[0][0]
                                                                   flatten_7[0][0]
____________________________________________________________________________________________________
flatten_8 (Flatten)              (None, 1)             0           linear_0[0][0]
____________________________________________________________________________________________________
flatten_9 (Flatten)              (None, 1)             0           linear_1[0][0]
____________________________________________________________________________________________________
flatten_10 (Flatten)             (None, 1)             0           linear_2[0][0]
____________________________________________________________________________________________________
flatten_11 (Flatten)             (None, 1)             0           linear_3[0][0]
____________________________________________________________________________________________________
flatten_12 (Flatten)             (None, 1)             0           linear_4[0][0]
____________________________________________________________________________________________________
flatten_13 (Flatten)             (None, 1)             0           linear_5[0][0]
____________________________________________________________________________________________________
flatten_14 (Flatten)             (None, 1)             0           linear_6[0][0]
____________________________________________________________________________________________________
add_1 (Add)                      (None, 1)             0           dot_36[0][0]
                                                                   dot_37[0][0]
                                                                   dot_38[0][0]
                                                                   dot_39[0][0]
                                                                   dot_40[0][0]
                                                                   dot_41[0][0]
                                                                   dot_42[0][0]
                                                                   dot_43[0][0]
                                                                   dot_44[0][0]
                                                                   dot_45[0][0]
                                                                   dot_46[0][0]
                                                                   dot_47[0][0]
                                                                   dot_48[0][0]
                                                                   dot_49[0][0]
                                                                   dot_50[0][0]
                                                                   dot_51[0][0]
                                                                   dot_52[0][0]
                                                                   dot_53[0][0]
                                                                   dot_54[0][0]
                                                                   dot_55[0][0]
                                                                   dot_56[0][0]
                                                                   flatten_8[0][0]
                                                                   flatten_9[0][0]
                                                                   flatten_10[0][0]
                                                                   flatten_11[0][0]
                                                                   flatten_12[0][0]
                                                                   flatten_13[0][0]
                                                                   flatten_14[0][0]
====================================================================================================
Total params: 145,354
Trainable params: 145,354
Non-trainable params: 0
____________________________________________________________________________________________________

In [ ]:
y_train = train_df.Rating.values
x_train = train_df.loc[:,[i for i in train_df.columns.tolist() if i!='Rating']].values
x_train = [x_train[:,i] for i in range(x_train.shape[1])]

In [ ]:
output = model.fit(x_train, y_train, batch_size=64, epochs=10, verbose=2)

Epoch 1/10

In [ ]:
user_embedding = model.layers[7].get_weights()[0]
movie_embedding = model.layers[8].get_weights()[0]
gender_embedding = model.layers[9].get_weights()[0]
age_embedding = model.layers[10].get_weights()[0]
occupation_embedding = model.layers[11].get_weights()[0]
zib_embedding = model.layers[12].get_weights()[0]
genres_embedding = model.layers[13].get_weights()[0]